* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  margin: 0px;
  padding: 0px;

  font-size: 14px;
  height: 100%;
}

.menu {
  height: calc(100% - 42px - 20px);
  position: absolute;
  display: block;
  top: 42px;
  background-color: #fff;
  box-shadow: 0px 0px 5px -2px #000;
  z-index: 9;
  width: 100%;
}

.section-main {
  height: 100%;
  display: grid;
  grid-template-rows: 42px calc(100% - 42px - 20px) 20px;
  grid-template-areas:
    "h"
    "m"
    "f";
  position: relative;
}

.hide {
  display: none;
}

.main-3,
.main-1 {
  overflow: auto;
  height: 100%;
  padding-bottom: 10px;
  grid-area: m;
}

.pull-right {
  float: right;
  font-weight: normal;
  &::before {
    content: " ";
    clear: both;
  }
}

// sm
@media (min-width: 576px) {
  .hide-sm {
    display: none;
  }
  .section-menu {
    width: 100%;
  }
}

// max-sm
@media (max-width: 767px) {
  .show-md {
    display: none;
  }
}

// md
@media (min-width: 768px) {
  .main-3 {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas: "l c";
    // min-height: 100%;
  }

  .menu {
    width: 200px;
  }

  .show-sm {
    display: none;
  }
}

// max-md
@media (max-width: 991px) {
  .show-lg {
    display: none;
  }
}

// lg
@media (min-width: 992px) {
  .main-3 {
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    grid-template-areas: "l c r";
    min-height: 100%;
  }
}

// x-lg
@media (min-width: 1200px) {
  .main-3 {
    display: grid;
    grid-template-columns: 1fr 300px 580px 300px 1fr;
    grid-template-areas: "z l c r y";
    min-height: 100%;
  }

  .main-1 {
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
    grid-template-areas: "z c y";

    // max-width: 1400px;
    // margin-left: calc(calc(100% - 1400px) / 2);
  }
}

// xx-lg
@media (min-width: 1400px) {
}

.header {
  grid-area: h;
}

// .main-3 {
//   grid-area: m;
//   display: grid;
//   grid-template-columns: 1fr 300px 580px 300px 1fr;
//   grid-template-areas: "z l c r y";
//   min-height: 100%;
// }

router-outlet {
  display: none;
}

.main__side-left {
  grid-area: l;
  padding: 0px 10px;
}

.main__center {
  grid-area: c;
  padding: 0px 20px;
  border-left: 1px solid var(--light);
  border-right: 1px solid var(--light);
}

.main__side-rigth {
  grid-area: r;
  padding: 0px 10px;
}

.footer {
  grid-area: f;
  font-size: 0.6rem;
  line-height: 20px;
  background-color: var(--dark);
  color: var(--light);
  padding: 0px 1rem;
}

.header {
  background-color: var(--header-background);
  color: var(--header-color);
  font-size: 1.2em;
  line-height: 42px;
  padding-left: 12px;
}

.border-bottom {
  border-bottom: 1px solid var(--light);
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

router-outlet + * {
  display: block; /* Change display inline to block */
  animation: fade 1s;
}
