.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}

h1.title {
  border-bottom: 1px solid var(--light);
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
}
