
<h1 class="title">Resumo </h1>
<div>

  <div class="detalhamento">
    <summary><b>Total</b></summary>
    <div class="detalhamento__descricao">
      Recebido
      <span class="detalhamento__descricao__valor entrada">{{somatorioRecebido}}</span>
    </div>
    <div class="detalhamento__descricao">
      Gasto
      <span class="detalhamento__descricao__valor saida">{{somatorioGasto}}</span>
    </div>
    <div class="detalhamento__descricao">
      Resto
      <span class="detalhamento__descricao__valor" [class.entrada]="ehRestoPositivo" [class.saida]="!ehRestoPositivo">{{resto}}</span>
    </div>
  </div>

  <div class="detalhamento">
    <summary><b>Detalhamento</b></summary>
    <div class="detalhamento__descricao" *ngFor="let categoria of categorias | keyvalue">

      <i [icon]="categoria.value.icon"></i>
      {{categoria.value.nome}}
      <span class="detalhamento__descricao__valor" [class.entrada]="categoria.value.isEntrada" [class.saida]="!categoria.value.isEntrada">
        {{ obterSomatorioCategoria(categoria.value) }}
      </span>

    </div>
  </div>


</div>
