
<h1 class="title border-bottom">app-calendar</h1>
<h2 class="title border-bottom">Simple</h2>
<p>
  <app-calendar></app-calendar>
</p>
<h2 class="title border-bottom">Only month-year</h2>
<p>
  <app-calendar [onlyMonthYear]="true"></app-calendar>
</p>
<h2 class="title border-bottom">Date ranger</h2>
<p>
  <app-calendar [(dateRange)]="dateRange" [modeRanger]="true"></app-calendar>
  {{dateRange?.min | date}}
  {{dateRange?.max | date}}
</p>

<app-documentation [dictionary]="dictionary"></app-documentation>
