

<section class="section-main">
  <header class="header" (click)="showMenu = !showMenu">
    <i [icon]="icons.ATTACH_MONEY"></i> Controle Financeiro Pessoal
  </header>



  <!-- <nav class="menu" *ngIf="showMenu">
      <ul>
        <li><a (click)="showMenu = !showMenu" routerLink="/transacoes/formulario">Cadastro</a></li>
        <li><a (click)="showMenu = !showMenu" routerLink="/transacoes">Transações</a></li>
        <li><a (click)="showMenu = !showMenu" routerLink="/transacoes/resumo">Resumo</a></li>
      </ul>
  </nav> -->


  <router-outlet></router-outlet>

  <footer class="footer text-right">
    version 0.0.1
  </footer>
</section>


