.calendar {
  width: 100%;
  border: 1px solid var(--light);
  transition: box-shadow ease-in-out 100ms, border-color ease-in-out 100ms;
  font-size: 0.9rem;
  // border-spacing: 5px;
  border-collapse: collapse;
  box-shadow: 0px 0px 0.5rem rgba(129, 134, 138, 0.1);
  border-spacing: 0px;
  padding: 2px 0px;


  &:hover {
    box-shadow: 0px 0px 0.5rem rgba(129, 134, 138, 0.1);
  }
  & > thead > tr > th {
    font-weight: bold;
    color: var(--dark);
  }
  & > thead > tr:last-child > th {
    border-bottom: 1px solid var(--light);
  }
  & > thead {
    box-shadow: 0px 1px 3px -2px #000;
  }
  &__header__year-month th {
    text-align: center;
    padding: 0.5rem 0.2rem;
  }
  &__header__day-of-week th {
    text-align: center;
    padding: 0.3rem 0.2rem;
    width: calc(100% / 7);
  }
  &__max-width {
    max-width: 300px;
  }
  & > tbody td {
    text-align: center;
    // padding: 0.4rem;
    font-size: 0.8rem;
    line-height: 1.6rem;
    cursor: pointer;
    transition: background ease-in-out 200ms;
    box-shadow: 0px;
    border-radius: 1rem;
    position: relative;
    // z-index: 3;
    padding: 2px 0px;
    & div {
      height: 2rem;
      // width: 2rem;
      line-height: 2rem;
      border-radius: 10px;
    }
    & div:hover {
      // box-shadow: 0px 0px 3px 0px var(--dark);
      background-color: var(--calendar-background-hover);
      color: var(--calendar-color-hover);
      margin: 0px 5px;

      // &.date-start-ranger,
      // &.date-inside-ranger,
      // &.date-end-ranger {
      //   margin: 0px 0px;
      // }

      // border-radius: 5px;
    }
  }
  &__change-month {
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
    width: 50px;
  }
  &__year {
    font-size: 0.8rem;
    text-align: left;
    display: block;
  }
  &__month {
    font-size: 1rem;
    text-align: left;
    display: block;
    text-transform: capitalize;
  }
  .actual-date {
    background-color: var(--primary);
  }
  .different-month {
    color: var(--light);
  }
  .weekend-date {
    background: var(--calendar-background-weekend);
    color: var(--calendar-color-weekend) !important;
  }
  .weekend-date.different-month {
    color: var(--light) !important;
  }

  .today {
    background-color: var(--calendar-today-bg);
    color: var(--calendar-today-color);
    margin: 0px 5px;
    // border-radius: 25%;
    // z-index: 2;
  }

  .date-selected {
    background-color: var(--calendar-selected-bg);
    color: var(--calendar-selected-color) !important;
    border-radius: 1rem;
    margin: 0px 5px;
  }

  .date-start-ranger {
    background-color: var(--calendar-selected-ranger-begin-bg);
    color: var(--calendar-selected-ranger-begin-color);
    margin: 0px 5px;
    // border-top-left-radius: 10px;
    // border-bottom-left-radius: 10px;

    // border-top-right-radius: 0px !important;
    // border-bottom-right-radius: 0px !important;

    &::after {
      content: " ";
      width: 0;
      height: 0;
      border-top: 0.5rem solid transparent;
      border-bottom: 0.5rem solid transparent;
      border-left: 0.5rem solid var(--calendar-selected-ranger-begin-bg);
      position: absolute;
      right: 0rem;
      top: 0.6rem;
      z-index: 1;
    }
    &:hover::after {
      border-left: 0.5rem solid var(--calendar-background-hover);
    }
  }
  .date-inside-ranger {
    background-color: var(--calendar-selected-ranger-bg);
    color: var(--calendar-selected-ranger-color);
    // border-radius: none !important;
    border-radius: 0px !important;
    line-height: 1.5rem !important;
    height: 1.5rem !important;
    margin: 0.25rem 0px;
  }
  .date-end-ranger {
    background-color: var(--calendar-selected-ranger-end-bg);
    color: var(--calendar-selected-ranger-end-color);
    margin: 0px 5px;

    // border-top-right-radius: 10px;
    // border-bottom-right-radius: 10px;

    // border-top-left-radius: 0px !important;
    // border-bottom-left-radius: 0px !important;
    &::before {
      content: " ";
      width: 0;
      height: 0;
      border-top: 0.5rem solid transparent;
      border-bottom: 0.5rem solid transparent;
      border-right: 0.5rem solid var(--calendar-selected-ranger-end-bg);
      position: absolute;
      left: 0rem;
      top: 0.6rem;
    }
    &:hover::before {
      border-right: 0.5rem solid var(--calendar-background-hover);
    }
  }
}
