<h1 class="title border-bottom">Sample of buttons</h1>
<div>
  <button class="btn btn-primary">.btn .btn-primary</button>
  <button class="btn btn-secodary">.btn .btn-secodary</button>
  <button class="btn btn-warning">.btn .btn-warning</button>
  <button class="btn btn-danger">.btn .btn-danger</button>
  <button class="btn btn-success">.btn .btn-success</button>
  <button class="btn btn-info">.btn .btn-info</button>
  <button class="btn btn-light">.btn .btn-light</button>
  <button class="btn btn-dark">.btn .btn-dark</button>

</div>
<div>
  <button class="btn btn-primary btn-flat">.btn .btn-primary .btn-flat</button>
  <button class="btn btn-secodary btn-flat">.btn .btn-secodary .btn-flat</button>
  <button class="btn btn-warning btn-flat">.btn .btn-warning .btn-flat</button>
  <button class="btn btn-danger btn-flat">.btn .btn-danger .btn-flat</button>
  <button class="btn btn-success btn-flat">.btn .btn-success .btn-flat</button>
  <button class="btn btn-info btn-flat">.btn .btn-info .btn-flat</button>
  <button class="btn btn-light btn-flat">.btn .btn-light .btn-flat</button>
  <button class="btn btn-dark btn-flat">.btn .btn-dark .btn-flat</button>
</div>

<div>
  <button class="btn btn-primary-outline btn-flat">.btn .btn-primary-outline .btn-flat</button>
  <button class="btn btn-secodary-outline btn-flat">.btn .btn-secodary-outline .btn-flat</button>
  <button class="btn btn-warning-outline btn-flat">.btn .btn-warning-outline .btn-flat</button>
  <button class="btn btn-danger-outline btn-flat">.btn .btn-danger-outline .btn-flat</button>
  <button class="btn btn-success-outline btn-flat">.btn .btn-success-outline .btn-flat</button>
  <button class="btn btn-info-outline btn-flat">.btn .btn-info-outline .btn-flat</button>
  <button class="btn btn-light-outline btn-flat">.btn .btn-light-outline .btn-flat</button>
  <button class="btn btn-dark-outline btn-flat">.btn .btn-dark-outline .btn-flat</button>
</div>
