
<h1 class="title">
  <i icon="PLUS_OUTLINE" *ngIf="!transacao.id"></i>
  <i icon="EDIT_OUTLINE" *ngIf="transacao.id"></i>
  Formulário

  <nav class="pull-right">
    <button (click)="openList()" class="btn btn-light show-sm" icon="LIST_OUTLINE"></button>
  </nav>
</h1>


<form (submit)="onSubmit()" >


  <div >
    <label for="tipoTransacao"  >Tipo</label>

    <input id="tipoTransacao.corrente" class="btn-radio" type="radio" name="tipoTransacao" [(ngModel)]="tipoTransacao" value="Corrente">
    <label for="tipoTransacao.corrente">
      Corrente
    </label>

    <input id="tipoTransacao.mensal" class="btn-radio" type="radio" name="tipoTransacao" [(ngModel)]="tipoTransacao" value="Mensal">
    <label for="tipoTransacao.mensal">
      Mensal
    </label>

  </div>

  <div>
    <label for="transacao.descricao">Descrição</label>
    <input id="transacao.descricao" type="text" name="descricao" [(ngModel)]="transacao.descricao">
  </div>

  <div>
    <label for="transacao.valor">Valor</label>
    <input id="transacao.valor" type="text" (keyup)="transformAmount($event)" name="valor" [(ngModel)]="transacao.valorFormatado" >
  </div>

  <div *ngIf="!transacao.isPago">
    <input id="transacao.idEntrada" name="transacao.idEntrada" type="checkbox" [(ngModel)]="transacao.isEntrada" >
    <label for="transacao.idEntrada"  >Entrada?</label>
  </div>

  <div *ngIf="!transacao.isEntrada">
    <input id="transacao.isPago" name="transacao.isPago" type="checkbox" [(ngModel)]="transacao.isPago" >
    <label for="transacao.isPago"  >Pago?</label>
  </div>

  <div *ngIf="tipoTransacao == 'Corrente'">
    <div>
      <label for="transacao.data"><span class="icon-calendar-outline"></span> Data</label>
      <app-calendar [(date)]="transacao.data"></app-calendar>
    </div>

  </div>

  <div *ngIf="tipoTransacao == 'Mensal'">
    <div>
      <label for="transacao.dataInicio"><span class="icon-calendar-outline"></span> Mês Inicio</label>
      <app-calendar [(date)]="dataInicio" [onlyMonthYear]="true"></app-calendar>
    </div>
    <div>
      <label for="transacao.dataFim"><span class="icon-calendar-outline"></span> Mês Fim</label>
      <app-calendar [(date)]="dataFim" [onlyMonthYear]="true"></app-calendar>
    </div>
    <div>
      <label for="diaMes"><span class="icon-calendar-outline"></span> Dia do Mês</label>
      <input type="number" name="diaMes" id="diaMes" maxlength="2" [(ngModel)]="diaMes">
    </div>
  </div>

  <div>
    <label for="transacao.dataInicio"><span class="icon-calendar-outline"></span> Categórias</label>


    <ng-template ngFor let-categoria [ngForOf]="categorias | keyvalue">
      <input [id]="'categoria.' + categoria.key" class="btn-radio" type="radio" name="tipoTransacao[]" [(ngModel)]="transacao.categoria.nome" [value]="categoria.value.nome">
      <label [for]="'categoria.' + categoria.key" [icon]="categoria.value.icon" [title]="categoria.value.nome">
      </label>
    </ng-template>
    <br>
    {{transacao.categoria.nome}}


  </div>


  <div>
    <button class="btn btn-flat btn-primary">
      <span class="icon-cloud-upload-outline"></span>
    </button>
    <button type="button" (click)="onClear()" class="btn btn-flat btn-warning-outline">
      <span class="icon-close-outline"></span>
    </button>
    <button *ngIf="transacao.id" type="button" (click)="onDelete()" class="btn btn-flat btn-danger-outline">
      <span class="icon-trash-outline"></span>
    </button>
  </div>

</form>
